<p>Sign up page here.</p>

<form ng-submit="register()">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" ng-model="username" required>
    <br/>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" ng-model="password" required>
    <br/>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <input type="submit" class="signupbtn"></input>
    </div>
  </div>
</form>

<div ng-controller="SignUpCtrl">
  <strong>{{alertBox}}</strong>
</div>
